
<h1>CONVERSATION</h1>
<p> From | Subject | Body </p>

<% @conversations.each do |conversation| %>
  <% receipts = conversation.receipts_for(current_user) %>
    <% receipts.each do |receipt| %>
      <br> <%= receipt.message.sender.name %> | <%= receipt.message.subject%> | <%= receipt.message.body%> 
      <% if receipt.is_unread? or message.is_unread?(current_user) %>
        <%= "Unread" %>
        <% end %>
    <% end %>
<%end%>