<h3><%= @conversation.subject   %></h3>

<div class="row">
  <% messages_in_conversation.each do |msg| %>
    <hr>
    <div class="small-4 large-3 columns">
        <div class="th radius"><img src="http://lazyreviewzzz.com/wp-content/uploads/2010/06/L.E.-Xbox-avatar-thumb.jpg"></div><p><%= msg.message.sender.name %></p>
    </div>
    <div class="small-8 large-9 columns"><p><%= msg.message.body %></p></div>
  <% end %>
</div>

<br> <%= link_to ' Reply', new_message_path(conversation: @conversation.id), class: 'fa fa-reply' %>


