<h3><%= @conversation.subject   %></h3>

<div class="row">
  <% messages_in_conversation.each do |msg| %>
    <hr>
    <div class="small-3 columns"><p><%= msg.message.sender.name %></p></div>
    <div class="small-9 columns"><p><%= msg.message.body %></p></div>
  <% end %>
</div>

<br> <i class="fa fa-reply"><%= link_to 'Reply', new_message_path(receiver: 1   , conversation: @conversation.id) %></i>
<i class="fa fa-trash-o"></i>
