<h3 class="subheader"> Who should I game with? </h3>
<h5 class="subheader"><%= @user.name %> </h5>

<table>
  <thead>
    <tr>
      <th>My Top Matches</th>
      <th>Match Score</th>
    </tr>
  </thead>
  <tbody>
    <% @sorted_matches.each do |similarity|  %>
      <% if similarity.match_percent > 0.49 %>
        <tr>
          <td><%= link_to similarity.compared_user.name, user_path(similarity.compared_user.id)  %>
          </td>
          <td class="<%=similarity.match_percent > 0.7 ? "label" : "secondary label"%>">
            <%= similarity.match_percent * 100 %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>