



<div class = "hero-copy">
  <div class = "row">
    <div class = "large-12 columns">
      <h2 class="subheader"> It's a lonely world out there </h2>
    </div>
  </div>
</div>

<div class = "hero-graphic-1"></div>
<!-- ___________________________________ -->

<div class = "hero-copy">
  <div class = "row">
    <div class = "large-12 columns">
      <h2 class="subheader"> Tired of playing with yourself?</h2>
      <h2 class="subheader">Get your GTA V on with people who want you on their side.</h2>
    </div>
  </div>
</div>

<div class = "hero-graphic-2"></div>
<!-- ___________________________________ -->

<div class = "hero-copy">
  <div class = "row">
    <div class = "large-12 columns">
      <h2 class="subheader"> Answer some questions, get matched, take off.</h2>
    </div>
  </div>
</div>

<div class = "hero-graphic-3"></div>


<!-- _____________DIVIDER_______________ -->
<div class = "hero-divider"><p></p></div>
<!-- ___________________________________ -->

<div class = "hero-action">
  <div class = "row">
    <div class = "large-12 columns">
      <h2 class="subheader"> Ok. Let's do this: </h2>


      <%= link_to "Sign Me Up!", new_user_registration_path, class: "large button expand" %>

    </div>
  </div>
</div>




<!-- - - - - - - - USER INFO GRID - - - - - - - - -->


<div class ="row">
  <div class = "large-12 columns">
    <div class = "hero-99">
      <h2> Newest Members of Our Community </h2>
    </div>


    <ul class="large-block-grid-2">
      <% @users.last_four.each do |gamer| %>
        <li>
          <div class="panel-public">
            <div class="row">
              <div class="small-4 large-4 columns">
                <%= image_tag "https://s3.amazonaws.com/OKGamer/userplaceholder.png?AWSAccessKeyId=ASIAIOFLECZKCWG2I5UA&Expires=1383687603&Signature=HHtANgagVHMRwBjiYfSaQxk2ltU%3D&x-amz-security-token=AQoDYXdzEE0asAK5YMHLH3Knqb4agiC0OZ/uFzkIN/jhj8GFbNCeBcEgSl8UkUsvE5QSMfT/6v%2BIXCIBmtSqUJiZJzJoc8XC6KpHRjXpGv49R4Elx8cA67m09NAaxrjYWIxtN7sJclGi1Hmfuy3HjQkA9cowRmvTXTBD0BtL0cPJUiK7IHASdpy%2B%2BIOEj9h5xZMeo472m8Z27h3DlkQZ8XWzmN/pQHn98Ort8NPEXbbEGJqF1zJM6dBVyKSU0/BvXGlVwCSNJI7XPf54bcvrT%2BxaBX9nss5936h9/MJh/Y%2BEPos38xr4I2BmQwX3A044d1/fq29ZIE0fzJJAf7MqMuwzuf0dGUaTh/a0RVCiLtyqWHkWSbwrHZ3pQfR3OLBj6JKtuwDYKp4K4qwOYWAY0pWClNkyevHcC/G2IOXJ5JMF", size: '100x200' %>
              </div>

              <div class="small-8 large-8 columns">
                <h5><%= link_to gamer.name, user_path(gamer.id) %> </h5>
                <p>
                  <%if Question.find(2).responses.find_by_user_id(gamer.id).present? %>
                    <%= "#{Question.find(2).inquiry}: #{Question.find(2).responses.find_by_user_id(gamer.id).answer.choice}" %>
                    <% end %>
                </p>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- _______________________________________________ -->

