<div class= "MyResponses">
 <h3>THIS IS WHERE WE EDIT A USER'S EDITABLE PROFILE INFORMATION</h3>

 <br>

 <p> Profile information = </p>
 <ul>
  <li> User model info </li>
  <li> User gamertag </li>
</ul>

</div>


