
<h1>All Users</h1>


<% @users.each do |gamer| %>
	<div class="column large-1 tile"> 
		<h3><%= link_to gamer.email, user_path(gamer.id) %> </h3>
    <table>
      <thead>
        <tr>
          <th>Users Matches</th>
          <th>Match Score</th>
        </tr>
      </thead>
      <tbody>
        <% gamer.comparisons.each do |similarity| %>
          <tr>
            <td><%= similarity.compared_user.email %></td>
            <td><%= similarity.match_percent %></td>
          </tr>
        <% end %>  
      </tbody>  
    </table>
  </div>
<% end %>