<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1> <%=link_to 'Ok Gamer', root_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Left Nav Section -->

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="active"><%= link_to 'Mail', conversations_path, class: "fa fa-inbox" %></li>
      <li class="divider"></li>
      <li><%= link_to 'Profile', user_path(current_user.id), class: "fa fa-gamepad"%>
      </li>
      <li class="divider"></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "fa fa-power-off" %></i></a>
      </li>
      <li class="divider hide-for-small"></li>
      <li class="divider show-for-small"></li>
    </ul>
  </section>
</nav>