<ul>
  <% @questions.each do |question| %>
    <li><%= question.inquiry %>
      <ul>
        <% question.answers.each do |answer| %>
          <li><%=answer.choice%></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
