/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 *= require normalize
 *= require foundation_and_overrides
 *= require foundation
 *= require_self
 *= require users

 */



.hero-copy{
  background-color: white;
  background-color: rgba(255, 255, 255, .6);
}

 h1 {
  font-family: Arial, sans-serif;
}

.hero-divider {
  margin-top:5px;
  margin-bottom:5px;
  width: 100%;
  background-color: white;
  background-color: rgba(105, 155, 55, .9);

}
/* - - - - - - - - - - - - - - - - - - - - - */

.hero0, .hero1 {
  text-align: center;
  height: 200px;
  width: 100%;
  background-color: white;
  background-color: rgba(255, 255, 255, .9);

}

.hero0, .hero1 h1 {
  color: black;
}


/* - - - - - - - - - - - - - - - - - - - - - */

.hero-99 {
text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;

  background-color: white;
  background-color: rgba(255, 255, 255, .9);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero-99 h2 {
  color: gray;
}

/* - - - - - - - - - - - - - - - - - - - - - */
html, body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: sans-serif;
  height: 100%;
  overflow-x: hidden;
}


/* - - - - - - - - - - - - - - - - - - - - - */


body {
/*  background-image:url('whitediamond.png');
  background-position: center center;
  background-attachment: fixed;*/

  background-image:url('Home_NL/sky_scenery.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;



}


.topnavigation{
  border-color: red;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  position: fixed;
  z-index: 99;
  width: 100%;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
}





.content-container {
  background-color: rgba(255, 255, 255, .8);
}




/*- - - - - - - - - - For User Layout - - - - - - - - -*/
.panel, .panel-public {

  border-radius: 5px;
  background-color: rgba(255, 255, 255, .8);
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - */


.spacer {
  height: 50px;
}
