/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 *= require normalize
 *= require foundation_and_overrides
 *= require_self
 *= require users

 */


body {
/*  background-image:url('gta_header1.jpg');*/
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}


.topnavigation{
  border-color: red;
  border-style: solid;
  border-width: 2px;
  background-color: white;
/*  background-color: rgba(255, 255, 255, .9);
  color: black;*/
}





.content-container {
  background-color: rgba(255, 255, 255, .8);
}


.hero-images {
  height: 400px;
}

.panel {

  border-radius: 5px;
  background-color: rgba(255, 255, 255, .8);
}
